.banner {

    img {
        filter: brightness(70%);
        background-size: cover;
        height: 15vh;
        width: 100%;
        position: absolute;
    }

    h1 {
        padding: 1rem;
        position: relative;
    }
}