$primary-color: #efd29c;
$secondary-color: #a0793f;
$tertiary-color: rgb(228, 154, 17);
$small: 540px;
$medium: 800px;
$large: 1024px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin-bottom: 0;
}
